<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | ExtremeParse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TryParse.styles.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>

</head>
<body>
    <style>
        #label {
            padding-right: 20px;
            padding-left: 20px;
            margin-bottom: 5px;
            box-shadow: 10px 5px 5px @randcolor();
        }
    </style>

    <header class="p-3 text-dark bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <span id="label" class="display-4 fs-1 mx-auto text-white-50 border border-secondary">ExtremeParse</span>
                <ul id="fcknav" class="nav col-12 col-lg-auto mt-1 me-lg-auto justify-content-center mb-md-0 position-static top-0 end-0">
                    <li><strong><a href="~/" class="nav-link px-3 hoverable text-secondary">Home</a></strong></li>
                    <li><strong><a href="~/User/Privacy" class="nav-link hoverable px-3 text-white">Privacy</a></strong></li>
                    <li><button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" class="btn btn-outline-secondary px-3 py-2 text-white"><strong>About</strong></button></li>
                </ul>
            </div>
        </div>
    </header>


    <div class="offcanvas offcanvas-backg offcanvas-top rounded-bottom" style="" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
        <div class="offcanvas-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" style="color:#9780e5;" class="hell me-4 ms-3 bi bi-info-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
            </svg>
            <h1 id="offcanvasTopLabel" class=" fw-gradient offcanvas-title mx-auto"><strong>ExtremeParse</strong> project</h1>
            <button type="button" class="btn-close me-3 btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <hr style="margin: 0 20% 0 20%;" />

        <div class="offcanvas-body text-center" style="margin-right: 20px; margin-left: 20px;">
            <p class="mx-3 opacity-100" style="font-size: larger; color: aliceblue; font-family: 'Segoe UI'">
                Классика Расчленинграда. В реке под Петербургом нашли сумку с женскими ногами

                В сумке оказались отрезанные по таз две женские ноги. На ногах — следы педикюра. По другим источникам предварительно известно, что конечности были отсечены в районе колена каким-то острым рубящим предметом. Сообщается, что останки могли находилиться в воде больше недели.

                На место уже выехали криминалисты и следователи.
                Возбуждено уголовное дело по статье об убийстве.
            </p>
            <p class="mx-auto text-danger">
                TODO: Здесь будет контент!
            </p>
        </div>
    </div>

    <div class="container">
        <main role="main" class="p-3">
            @RenderBody()
        </main>
    </div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="ms-4 col-md-4 mb-0 text-muted">&copy; 2022 Nanomachines Company, Inc</p>

            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" style="color:gray" fill="currentColor" class="mx-auto my-auto bi bi-code-slash" viewBox="0 0 16 16">
                <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z" />
            </svg>

            <ul class="nav col-md-4 justify-content-end me-3">
                <li class="nav-item"><a href="~/" class="ms-3 nav-link px-2 hoverable text-muted">Main</a></li>
                <li class="nav-item"><a href="~/User/Privacy" class="ms-3 nav-link px-2 hoverable text-muted">Privacy</a></li>
                <li class="nav-item"><a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" class="ms-3 nav-link hoverable px-2 text-muted">About</a></li>
            </ul>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


@{
    string randcolor() => new string[] { "rebeccapurple", "yellow", "crimson", "deeppink" }[(new Random()).Next(0, 4)];
}