@{
    ViewData["Title"] = "Home Page";
}



<div class="container border rounded border-warning">
    <p class="font-monospace my-2 mx-2">Description</p>
    <ul class="text-justify">
        <li>
            <p class="fw-conc" style="font-size:smaller">
                Post the information that you think is necessary! But please note that all <span style="font-style:italic">Parsed-card</span>'s are checked by the administration,
                so we advise you to filter the content.
            </p>
        </li>
        <li>
            <p class="fw-conc" style="font-size:smaller">
                Or automate the process, using our integrated telegram bot, but in this case,
                the result may contain <span class="text-decoration-underline">little or no information</span> <strong>freely available on the Internet.</strong>
            </p>
        </li>
    </ul>
</div>
<hr />
<div class="container d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start pt-4">

    <form class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <input type="search" class="pe-5 form-control form-control-dark" placeholder="Search..." aria-label="Search">
    </form>

    <div class="col-12 col-lg-auto mb-3 mb-lg-0 ">
        <button type="button" class="my-1 btn btn-outline-primary">Create a new Parsed-Card</button>
        <button type="button" class="my-1 btn btn-primary">Create with our Telegram-Bot</button>
    </div>
</div>


<div class="mt-4 container border rounded">
    <div class="card-group">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h5>Иван Иванов</h5>
                </div>
            </div>

        </div>

    </div>
</div>