@{
    ViewData["Title"] = "Privacy Policy404";
}
<h1 class="text-white-50">@ViewData["Title"]</h1>


<div class="text-white-50 fw-bold justify-content-center" style="display: flex; font-size: large;">
    <p class="kek">DUDE, DID YOU REALLY THINK THERE WERE RULES?</p>
    <audio autoplay>
        <source src="~/mp3/privacy.mp3" type="audio/mp3">
    </audio>
</div>